<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="RegressionSuite">
    <test name ="Regression">
    <classes>
       <class name="com.AgileCrmAutomation.ContactTestCase"></class>
    </classes>
     </test> <!-- Test -->
  <test name="sanity">
    <classes>
       <class name="com.AgileCrmAutomation.AmazonApplianceSearch"></class>
    </classes>
</test> 
</suite> <!-- RegressionSuite -->





